<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I graduated from the
      <a class="underline-link" href="https://www.uga.edu/" target="_blank">University of Georgia</a> in 2021. Whether I'm working alongside a
      <strong>large digital marketing agency</strong> or a <strong>15-man competitive intelligence team</strong>, I bring the same energy: adaptable,
      openminded, and always eager for a challenge. B2B or B2C, front- or backend, client-facing or behind the scenes, short- or long-form... You name it, I'll try it (if I haven't already)!
    </p>

    <p>
      After I lost my job in 2023, no one gave me the time of day because I didn't have experience or work samples. So I learned how to bring my own ideas to life.
      In short, <strong>this <i>is</i> my portfolio</strong>—from content and graphics to coding, I can and will (happily) do it all. Could it be for you next?
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, you can probably find me trying to cram 8 hours of sleep into 5 minutes,
      chipping away at a new project, or staring at my phone screen instead. I love dogs, gaming, and the Pokemon Jigglypuff.
    </p>

    {% include employment-status.html %}
  </div>
</section>
