<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I graduated from the
      <a class="underline-link" href="https://www.uga.edu/" target="_blank">University of Georgia</a> in 2021. Whether I'm working alongside a
      <strong>large digital marketing agency</strong> or a <strong>15-man competitive intelligence team</strong>, I bring the same energy: adaptable,
      openminded, and always eager for a challenge. B2B or B2C, front- or backend, short- or long-form... You name it, I'll try it (if I haven't already)!
    </p>

    <p>
      I currently work as a <strong>rapid intelligence analyst</strong>, providing around-the-clock media briefings for some of the biggest names in the aerospace, energy,
      construction, and tech industries. By day, I offer email, scheduling, and task management for busy entrepreneurs and professionals as an <strong>inbox manager</strong>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, you can probably find me trying to cram 8 hours of sleep into 5 minutes,
      playing video games, or staring at my phone screen instead. I live in Jacksonville, FL with my dog, Kit, and my cat, Tsaotsao.
    </p>

    <|-- {% include employment-status.html %} -->
  </div>
</section>
